.header {
   
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 1.25rem;
}

header img {
    height: 2rem;
}

.logo {
    height: 50%;
    width: 50%; 
}